@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Josefin+Sans&display=swap');
/* Navbar */
.navbar {
    background-color: #fdebd0;
    height: 6rem;
}

/* Navbar links */
.navbar a {
    font-family: 'Josefin Sans', sans-serif;
    float: right;
    display: block;
    color: #000000;
    padding: 2rem;
    text-decoration: none;
    /* Pentru a alinia vertical elementele */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    grid-area: links;
}

a.logo {
    font-family: 'Fascinate Inline', cursive;
    color: #f1948a;
    font-size: 2.5rem;
    float: left;
}

/* Pentru a face navbarul "lipicos" de partea de sus */
.sticky {
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s;
}
